<div class="space space--small"></div>
<div class="cards">
  <div class="card" data-index="0">
    <div class="card__inner">
      <div class="card__image-container">
        <img
          class="card__image"
          src="../../../assets/bi.png"
          alt=""
        />
      </div>
      <div class="card__content">
        <h1 class="card__title">Biblioteca</h1>
        <p class="card__description">
          Bienvenido a nuestra Biblioteca. Estamos aquí para ofrecerte un lugar 
          seguro donde puedes hacer prestamos de manera sencilla.
          
        </p>
      </div>
    </div>
  </div>
  <div class="card" data-index="0">
    <div class="card__inner">
      <div class="card__image-container">
        <img
          class="card__image"
          src="../../../assets/hora.png"
          alt=""
        />
      </div>
      <div class="card__content">
        <h1 class="card__title">Horarios</h1>
        <p class="card__description">
          Lunes a Viernes: 8:00 AM - 8:00 PM
          Sábados y Domingos: 9:00 AM - 6:00 PM
        </p>
      </div>
    </div>
  </div>
  <div class="card" data-index="0">
    <div class="card__inner">
      <div class="card__image-container">
        <img
          class="card__image"
          src="../../../assets/ubic.png"
          alt=""
        />
      </div>
      <div class="card__content">
        <h1 class="card__title">Ubicación</h1>
        <p class="card__description">
          Nuestro estacionamiento está ubicado en 
          Dolores Hidalgo - Universidad Tecnologica del Norte de Guanajuato
        </p>
      </div>
    </div>
  </div>
</div>
<div class="space"></div>

<router-outlet></router-outlet>


